# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.env

# API keys and secrets
gcp_key.json
*.json

# database files
*.sqlite3

# macOS system files
.DS_Store

# Ignore all PNG and JPG files in media folder
media/**/*.png
media/**/*.jpg
/.env.local
